#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

# Log rotation configuration for chrony

{{ chrony_logdir_path }}/*.log {
    {{ chrony_logrotate_options.frequency }}
    rotate {{ chrony_logrotate_options.count }}
    {% if chrony_logrotate_options.missingok | bool %}
    missingok
    {% endif %}
    {% if chrony_logrotate_options.compress | bool %}
    compress
    {% endif %}
    {% if chrony_logrotate_options.nocreate | bool %}
    nocreate
    {% endif %}
    {% if chrony_logrotate_options.copytruncate | bool %}
    copytruncate
    {% endif %}
    {% if chrony_logrotate_options.dateext | bool %}
    dateext
    dateformat {{ chrony_logrotate_options.dateformat | default('.%Y-%m-%d') }}
    {% endif %}
    {% if chrony_logrotate_options.archive_directory_path is defined and chrony_logrotate_options.archive_directory_path | length > 0 %}
    olddir {{ chrony_logrotate_options.archive_directory_path }}
    {% endif %}
    sharedscripts
    postrotate
        /usr/bin/chronyc cyclelogs >/dev/null 2>&1 || true
    endscript
}

